:root{
    --main-color: #4f416e;
    --lighter-color: #7c7495;
    --lightest-color: #E7E2F7;
    --brighter-color: #6d40fd;
    --medium-color: #5733ca;
    --background-color: white;
    --titlebar-color: #b6a0fe;
    --title-color:black; 
    --skills-bar-color:  #3b2f61;
    --contact-content-color: #3b2f61;
    /* #bab4c8 */

    /* text color */
    --text-black: black;
    --text-dark: #3F3846;
    --text-medium: #5E556B;
    --text-light: #8D8894;

    /* font size */
    --h1-font-size: 1.75rem;
    --h2-font-size: 1.3rem;
    --h3-font-size: 1.10rem;
    --normal-font-size: .940rem;
    --small-font-size: .820rem;
    --xsmall-font-size: .80rem;

    /* font-weight */
    --semi-bold: 600;
    
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    margin:3rem 0 0 0;
    height: 100%;
}
.icon{
    background: linear-gradient(to right, #74c9d1, #7e79e2, #e374aa, #e7a675);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.section-subtitle{
    font-size: var(--normal-font-size);
    color: var(--text-medium);
    margin-top: 1.5rem;
    margin-bottom: 0;
    font-weight: 500;
}
.section-title::after{
    position: absolute;
    content: "";
    width: 65px;
    height: 0.20rem;
    margin: auto;
    left:0;
    right:0;
    top:2.5rem;
    background-color: var(--titlebar-color);
}
.section-title{
    position: relative;
    font-size: var(--h1-font-size);
    background: linear-gradient(to right, #74c9d1, #7e79e2, #e374aa, #e7a675);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
}
.heading-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top:2rem;
}
.dark-icon{
    color: var(--main-color)
}
.darkmode{
    --main-color: whitesmoke;
    --background-color: #2f264e;
    --title-color:whitesmoke; 
    --skills-bar-color:  #5733ca;
    --contact-content-color: #7c7495;


    /* text color */
    --text-black: whitesmoke;
    --text-medium: #E7E2F7;
}
.dark-border{
    border: 3px solid var(--main-color);
}


/*  ============================================= nav menu =============================================  */

.nav-list{
    list-style-type: none;
    padding: 0;
    line-height: 2;
}
.nav-list a{
    text-decoration: none;
    color: whitesmoke;
    cursor: pointer;
}
.nav-list a:hover{
    color: var(--lighter-color);
}
#name{
    color: whitesmoke;
    text-decoration: none;
    font-weight: var(--semi-bold);
    padding: 5px;
}
header{
    width: 100%;
    position:fixed;
    top: 0;
    left: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: var(--main-color);
}
.whole-nav{
    margin-left: 1rem;
    margin-right: 1rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu{
    position:fixed;
    top: 0;
    left: -100%;
    width: 45%;
    height: 100%;
    padding: 2rem 3rem;
    display: flex;
    align-items: center;
    background-color: var(--main-color);
    transition: .5s;
}
.close-icon{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    cursor: pointer;
}
.nav-icon{
    cursor: pointer;
}
.moon-icon{
    cursor: pointer;
}
.show{
    left: 0;
}

/* ===================================== Home Section ========================================= */
#Home{
    height: calc(100vh - 3rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.home-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}
#home-p {
    text-align: center;
    margin: 0.5rem 2rem;
    color: var(--text-medium)
}
#main-text {
    margin: 1.7rem 0 0;
    background: linear-gradient(to right, #74c9d1, #7e79e2, #e374aa, #e7a675);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.8rem;
}
#sub-text{
    margin: 0.4rem 0;
    color: var(--main-color);
    font-size: 1.3rem;
    text-align: center;
}
#img-div{
    margin: 0 0 0.5rem;
}
#main-img{
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    overflow: hidden;
    display: block;
    object-fit: cover;
}
#home-content h1{
    color: var(--main-color);
    margin-bottom: 7px;
    font-size: 1.85rem;
    font-weight: bolder;
}
#home-content h3{
    margin: 0;
    color: var(--text-light);
    font-size: var(--h3-font-size);
}
#arrow-icon{
    text-align: center;
    padding-bottom: 2rem;
}
#arrow-icon a{
    cursor: pointer;
}
.links{
    list-style-type: none;
    display: flex;
    padding: 0 0.2rem 1rem 0;
}
.links .bx{
    margin: 0.3rem 0.7rem;
    font-size: 1.7rem;
}
#hashtags{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin: 1rem 1.5rem
}
#hashtags li{
    margin: 0.1rem 0.3rem;
    font-size: 1.15rem;
    color: var(--text-light)
}


/* ========================================== About Section ========================================== */
#About{
    padding-top: 3rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    /* display: none; */
}
.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100%;
}
#intro{
    color:var(--text-medium);
    margin: 0.3rem 1.3rem 0.3rem 1.3rem;
    font-size: var(--h2-font-size);
}
#about-name{
    color: var(--brighter-color)
}
#about-job{
    font-style: italic;
}
#about-p, #fun-fact{
    margin: 0.5rem 25px 1.3rem;
    line-height: 1.75;
    font-size: var(--normal-font-size);
    color: var(--text-black);
    border-radius: 15px;
    box-shadow: 5px 5px 8px 5px #acacac;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#about-p p{
    padding: 10px 20px;
    margin:0
}
.about-content img{
    width: 200px;
    height: 240px;
    border-radius: .5rem;
    overflow: hidden;
    display: block;
    margin: 20px 30px;
    border: 5px solid var(--lighter-color);
}
#fun-fact h3{
    margin: 0.5rem 0 0;
    background: linear-gradient(to right, #74c9d1, #7e79e2, #e374aa, #e7a675);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
#fun-fact p{
    padding: 10px 20px;
    margin:0
}
#fun-fact{
    margin: 0 25px 1.5rem
}

 /* ========================================== Skills Section ========================================== */
 #Skills{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
 }
.skills-content{
    margin-left: 15px; 
}
#skills-content-back{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.skills-header{
    display:flex; 
    margin-top: 10px;
    margin-bottom: 30px; 
    justify-content: space-between;
    cursor: pointer;
}
.skills-right{
    display: flex;
}
.skills-icon{
    height: 40px;
}
.skills-detail{
    margin: 0 1.8rem 1.5rem 2rem;
}
.skills-heading{
    margin: 5px 20px 0 15px;
    font-size: 1.2rem;
    color: var(--text-medium);
}
.skills-title{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.skills-arrow{
    margin-right: 1.7rem;
    height: 30px;
    margin-top: 8px;
}
.skills-name{
    font-size: var(--h3-font-size);
    margin: 0;
    color: var(--text-black);
}
.skills-percent{
    font-size: var(--normal-font-size);
    height: 26.5px;
    color: var(--text-black);
}
.skills-bar, .skills-fill{
    height:5px;
    border-radius: .25rem;
}
.skills-bar{
    background-color: var(--lightest-color);
}
.skills-fill{
    display: block;
    background-color: var(--main-color);
}
.skills-html{
    width: 95%;
}
.skills-css{
    width:95%;
}
.skills-js{
    width:90%;
}
.skills-jquery{
    width:90%;
}
.skills-react{
    width:90%;
}
.skills-next{
    width:90%
}
#skills-back{
    display: none;
}
.skills-python{
    width:85%;
}
.skills-django{
    width:85%;
}
.skills-node{
    width:90%;
}
.skills-mongo{
    width:85%;
}
.skills-express{
    width:90%;
}



/* ================================================== Projects Section =================================================== */
#Projects{
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-img img{
    position: relative;
    width: 18rem;
    height: 13rem;
    object-fit: cover;
    border-radius: .5rem;
    border: 5px solid var(--lighter-color);
}
.project-img{
    position: relative;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.project-descrip{
    text-align: center;
    width:18rem;
    box-shadow: 5px 5px 8px 5px #acacac;
    margin: 0 0 1.5rem;
    border-radius: 15px;
}
#projects-content{
    margin-top: 1.7rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.link-popup{
    cursor: pointer;
    position: absolute;
    bottom: -100%;
    width: 100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    backdrop-filter: blur(7px);
    transition: .4s;
}
.project-img:hover .link-popup{
    bottom: 0;
}
.link-popup a {
    text-decoration: none;
    font-size: var(--h2-font-size);
    font-weight: bolder;
    color:  #3b2f61;
}
.project-icon{
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--brighter-color)
}
/* --------------------------------------------- Contact Section ----------------------------------------------- */
#content-inside{
    background-color: var(--contact-content-color);
    border-radius: 10px;
    margin: 1.5rem 1.7rem 2rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
#contact-content{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#contact-content h1{
    font-size: 1.5rem;
    margin: 0 1.2rem;
    color: var(--background-color);
}
#contact-content h3{
    font-size: var(--small-font-size);
    margin: 0 1.2rem;
    color: var(--lightest-color);
    width: 80%;
    font-weight: 350;
}
.contact-button{
    margin: 0 1.2rem;
    background-color: var(--background-color);
    color:var(--main-color);
    font-weight: 600;
    font-size:var(--h3-font-size);
    height: 3.5rem;
    width: 10rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.modal-info, .modal-text{
    margin: 0.5rem 1.25rem;
    border-radius: 7px;
    border: none;
}
::placeholder{
    color:#2f264e;
    font-size: var(--normal-font-size);
    font-family: 'Poppins', sans-serif;
    padding-left: 3px;
}
.modal-info{
    height: 2.5rem;
}
.email-info{
    margin-left:0;
}
#submit-modal{
    align-self: flex-end;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    width: 8rem;
}
#close-button-modal{
    margin: 1rem;
    cursor: pointer;
}
#upper-info{
    display: flex;
    justify-content: space-between;
}
#contact-img{
    display: none;
}
#modal{
    flex-direction: column;
    background-color: var(--lighter-color);
    border-radius: 15px;
    position: fixed;
    bottom: 10rem;
    z-index: 1;
    display: none;
}
#Contact{
    flex-direction: column;
    align-items: center;
    display:flex;
}


/* ======================================== medi query =================================== */
@media (min-height: 950px) {
    .about-content h3{
        margin-bottom: 7px;
    }
    .about-content .section-title{
        margin: 1rem 0 2rem 0;
    }
    .about-content p{
        margin: 10px 2.5rem
    }
    #About{
        padding-top:4rem;
    }
    #skills-top h1{
        margin-top: 1rem;
    }
    .front{
        margin-top: 1.5rem;
    }
    .skills-detail{
        margin-bottom: 2rem;
    }
    .skills-content{
        margin-bottom: 2.5rem;
    }
}
@media (min-width: 800px){
    .section-title{
        font-size: 1.9rem;
    }
    .section-subtitle{
        font-size: var(--h3-font-size);
    }
    /* ----------- about section ----------- */
    .about-content p{
        margin: 1rem 3.5rem;
        line-height: 1.85;
        font-size: var(--h3-font-size);
    }
    .title{
        margin-bottom: 2rem;
    }
    #intro{
        font-size: 1.6rem;
    }
    .about-content img{
        width: 250px;
        height: 300px;
    }

    /* -------------skills section----------- */
    .skills-content{
        margin: 0 2rem 3rem;
    }
    .skills-heading{
        font-size: 1.35rem;
    }
    .skills-name{
        font-size: var(--h2-font-size);
    }
    .skills-percent{
        font-size: 1rem;
    }

    /* ------------- projects section ------- */
    #imgs-carousel{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
    .project-img{
        margin: 0 1.5rem 2rem;
    }

    /* ------------ contact section --------- */
    #contact-content h1{
        font-size: 1.85rem;
        margin-left: 1.5rem;
        width: 75%;
    }
    #contact-content h3{
        font-size: var(--h3-font-size);
        margin-left: 1.5rem;
        width: 80%;
    }
    .open-modal{
        width: 12rem;
        margin-left: 1.5rem;
        font-size: 1.2rem;
    }
    #content-inside{
        flex-direction: row;
        height: 22rem;
    }
    #contact-content{
        width: 60%;
    }
    #contact-img{
        display: block;
        height: 200px;
        align-self: center;
        margin-right: 1.5rem;
    }
    #modal{
        width: 510px;
        height: 30rem;
        justify-content: space-around;
    }
    .modal-info{
        height:3rem;
    }
    .upper-info{
        width: 45%;
    }
}


@media (min-width: 995px) {
    .section-title{
        font-size: 1.9rem;
    }
    .section-subtitle{
        font-size: var(--h2-font-size);
    }
    /* ========================================== media query for home ========================================== */
    /* body{
        padding-left: calc(20% + 3rem + 3rem);
    } */
    /* .nav-icon, .close-icon{
        display:none;
    } */
    .nav-menu{
        width: 20%;
    }
    /* .whole-nav{
        justify-content: flex-end;
    } */
    /* header{
        background-color: var(--background-color);
    }
    #name{
        color:var(--main-color);
        font-size: var(--h3-font-size);
    }
    .bx-moon{
        color: var(--main-color) !important;
        font-size: large;
        font-weight: 600;
    }
    .nav-list li{
        font-size: var(--h3-font-size);
        padding: 3px;
    }
    #main-text{
        font-size: 2rem !important;
    }
    #main-img img{
        width: 200px;
        height: 200px;
    }
    #home-center h3{
        font-size: 1.2rem;
    }
    .links .bx{
        padding: 7px;
        font-size: 1.6rem;
    } */
    /* ================================================ about section ========================================== */
    .about-content p{
        margin: 1rem 5rem;
        line-height: 1.85;
        font-size: var(--h3-font-size);
    }
    .title{
        margin-bottom: 2rem;
    }
    #intro{
        font-size: 1.6rem;
    }
    .about-content img{
        width: 250px;
        height: 300px;
    }

    /* ================================================ Skills section ========================================== */
    .skills-content{
        margin: 2.5rem 4rem;
    }
    .skills-detail{
        margin: 2.5rem;
    }
    .skills-bar, .skills-fill{
        height:7px;
        border-radius: .25rem;
    }
    .skills-heading{
        font-size: 1.5rem;
        margin-top:2px;
    }
    .skills-icon{
        font-weight: 700;
    }
    #skills-content-back{
        padding-bottom: 1.5rem;
    }
    /* ==================================== Projects Section =================================== */
    .button{
        display: block;
        cursor: pointer;
    }
    #projects-content{
        flex-direction: row;
    }
    #img2, #img3, #img4{
        display: none;
    }
    #imgs-carousel{
        margin: 0 2rem 0 2rem;
    }
    .project-img img{
        width: 500px;
        height: 415px;
        margin-top: 2rem;
    }
    /* -------------------- contact ------------------ */
    #contact-content{
        width: 70%;
    }

}